<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: #33aaee;
        }
    </style>
</head>
<body>
    <img src="https://i.namu.wiki/i/fGxv0v7ubjq3vHRIJppGP3j1PffB8DYk5-kFy7yrUfWiKjxoYYZNclVHyQdE3-J4ybJR-r0rhefKSbQ3Ggmj8g.webp", width="200px", height="200px">
    <h1>Lee Geon</h1>
    <br>
    <h3>10513</h3>
    <br>
    탕탕탕
</body>
</html>