<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="fullpage.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="fullpage.min.css">
</head>
<body align="center">
    
    <div id="fullpage">
        <div class="section">
            <img src="./img/profile.png" style="width: 100px; border-radius: 8px;">
            <div>
                <h1 id="hello" style="font-size: 30px;font-weight: 900;"></h1>
                <img id="arrow" src="img/arrow.svg"/>
            </div>
        </div>
        
        <div class="section">
            <h1>좋아하는 언어</h1>
            <article id="fav-lang">
                <section>
                    <img src="img/js.png" alt="Rust">
                    <div style="--c: #eed49f">3</div>
                </section>
                <section id="one">
                    <img src="img/rust.png" alt="Rust">
                    <div style="--c: #ee99a0">1</div>
                </section>
                <section>
                    <img src="img/python.png" alt="Rust">
                    <div style="--c: #7dc4e4">2</div>
                </section>
            </article>
        </div>
        
        <div class="section">
            <h1>관심있는거</h1>
            <article id="doing">
                <section>프론트엔드</section>
                <section>피그마</section>
                <section>테트리스</section>
            </article>

        </div>

    </div>
</body> 
</html>




<script>
    a = "👋 학생개발자 5-23입니다."
    for (let i = 0; i< a.length; i++){
        setTimeout(() => {
            document.getElementById("hello").innerHTML += a[i]
        }, 150*i)
    }
    setTimeout(() => {
            document.getElementById("arrow").style.opacity = "1"
        }, 3000)
    new fullpage("#fullpage", {
        autoScrolling: true,
        scrollHorizontally: true,
        scrollingSpeed: 500,
        // sectionsColor: ['#fff', '#f0ffff', '#fffff0'],
        loopHorizontal: true,
        onLeave: (before, after) => {
            document.querySelectorAll("#sns > a").forEach((e) => {
                e.style.opacity = "0"
            })
            document.querySelectorAll("#doing > section").forEach((e) => {
                e.style.opacity = "0"
                e.style.transform = "translateY(-10px)"
            })



            if (after.index == 2) {
                i = 0.5
                document.querySelectorAll("#doing > section").forEach((e) => {
                    setTimeout(() => {
                        console.log(e)
                        e.style.opacity = "1"
                        e.style.transform = "translateY(0)"
                    }, 500*(i+=0.5))
                })
            }

            if (after.index == 3) {
                i = 0.5
                document.querySelectorAll("#sns > a").forEach((e) => {
                    setTimeout(() => {
                        e.style.opacity = "1"
                    }, 500*(i+=0.5))
                })
            }
        }
    });
</script>