<!DOCTYPE html>
<html>
<head>
  <title>팀원4 소개</title>
  <style>
    body{
      background-color: bisque;
    }
  </style>
</head>
<body>
  <!--
    들어가야 하는 것
    - 프로필 사진
    - 이름
    - 학번
    - 한줄 소개
    - 최근 관심사 3가지

    조건
    - 배경 색상을 변경할 것
    - 이미지는 150x150px
    - 이름은 h1 태그
    - 학번은 h2 태그
    - 한줄 소개는 p 태그
    - 최근 관심사는 ul 태그

    선택사항
    - CSS를 이용하여 자유롭게 꾸미기
  -->
  <img src="" alt="" width="150px" height="150px">
  <h1>지수민</h1>
  <h2>10517</h2>
  <p>열시미 살려고 했으나 안되는 사람</p>
  <p>대충 안녕하세요 지수민입니다</p>
  <ul>
    <li>사람</li>
    <li>고죠</li>
    <li>너무한 것</li>
  </ul>
</body>
</html>
