<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>팀원 4 소개</title>
</head>

<style>
    body
    {
        background-color: skyblue;

    }
</style>

<body>
    <img src="./선규.png" alt="프로필" width="200" height="150">
    <h1> 이상은 </h1>
    <h2> 10415 </h2>
    <p>안녕하세요, 선린인터넷고등학교에 다니고 있는 상은입니다.</p>
    <ul>
        <li>Game Development</li>
        <li>Soccer</li>
        <li>LOL</li>
    </ul>


</body>
</html>